// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #9d4edd;
  --ion-color-primary-rgb: 157, 78, 221;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8c46c6;
  --ion-color-primary-tint: #a963e3;

  /** secondary **/
  --ion-color-secondary: #c77dff;
  --ion-color-secondary-rgb: 199, 125, 255;
  --ion-color-secondary-contrast: #10002b;
  --ion-color-secondary-contrast-rgb: 16, 0, 43;
  --ion-color-secondary-shade: #ae6de0;
  --ion-color-secondary-tint: #d08dff;

  /** tertiary **/
  --ion-color-tertiary: #5a189a;
  --ion-color-tertiary-rgb: 90, 24, 154;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #501687;
  --ion-color-tertiary-tint: #722fac;

  /** success **/
  --ion-color-success: #0dd6a0;
  --ion-color-success-rgb: 13, 214, 160;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0cbf8d;
  --ion-color-success-tint: #25dba9;

  /** warning **/
  --ion-color-warning: #ffd166;
  --ion-color-warning-rgb: 255, 209, 102;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b95a;
  --ion-color-warning-tint: #ffd67d;

  /** danger **/
  --ion-color-danger: #ff5470;
  --ion-color-danger-rgb: 255, 84, 112;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04a62;
  --ion-color-danger-tint: #ff6580;

  /** dark **/
  --ion-color-dark: #10002b;
  --ion-color-dark-rgb: 16, 0, 43;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d0025;
  --ion-color-dark-tint: #291b49;

  /** medium **/
  --ion-color-medium: #240046;
  --ion-color-medium-rgb: 36, 0, 70;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #20003e;
  --ion-color-medium-tint: #402260;

  /** light **/
  --ion-color-light: #e0aaff;
  --ion-color-light-rgb: 224, 170, 255;
  --ion-color-light-contrast: #10002b;
  --ion-color-light-contrast-rgb: 16, 0, 43;
  --ion-color-light-shade: #c796e0;
  --ion-color-light-tint: #e4b3ff;
}
