// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #20d7ff;
  --ion-color-primary-rgb: 32, 215, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1cbce0;
  --ion-color-primary-tint: #38ddff;

  /** secondary **/
  --ion-color-secondary: #ff9f3f;
  --ion-color-secondary-rgb: 255, 159, 63;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e08c37;
  --ion-color-secondary-tint: #ffab59;

  /** tertiary **/
  --ion-color-tertiary: #7e5cff;
  --ion-color-tertiary-rgb: 126, 92, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #7051e0;
  --ion-color-tertiary-tint: #8b6cff;

  /** success **/
  --ion-color-success: #0dd6a0;
  --ion-color-success-rgb: 13, 214, 160;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0cbf8d;
  --ion-color-success-tint: #25dba9;

  /** warning **/
  --ion-color-warning: #ffd166;
  --ion-color-warning-rgb: 255, 209, 102;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b95a;
  --ion-color-warning-tint: #ffd67d;

  /** danger **/
  --ion-color-danger: #ff5470;
  --ion-color-danger-rgb: 255, 84, 112;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04a62;
  --ion-color-danger-tint: #ff6580;

  /** dark **/
  --ion-color-dark: #0f172a;
  --ion-color-dark-rgb: 15, 23, 42;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1424;
  --ion-color-dark-tint: #273047;

  /** medium **/
  --ion-color-medium: #94a3b8;
  --ion-color-medium-rgb: 148, 163, 184;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #828fa0;
  --ion-color-medium-tint: #9fafc0;

  /** light **/
  --ion-color-light: #e2e8f0;
  --ion-color-light-rgb: 226, 232, 240;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c7cbd4;
  --ion-color-light-tint: #e5ebf2;
}
